<table border="1">

<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Classroom</th>
        <th>Action</th>
    </tr>
</thead>

<tbody>
    {% for i in students%}
    <tr>
    <td>{{ i.id }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.age }}</td>
    <td>{{ i.classroom.name }}</td>
    <td>
    <a href="{{path('remove',{'id': i.id})}}">remove</a>
    <a href="{{path('update',{'id': i.id})}}">update</a>

    </td>
    </tr>
    {% endfor %}
<tbody>

</table>
<a href="{{path('addF')}}" >Add Student </a>